<%- include('./partials/head', {title: 'Landing Page'}) %>
<%- include('./partials/navbar') %>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"></script>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>Forex Id</h2>
        </div>
       
        <% stocks.forEach(stock => {%>
        <div class="col-md-12 mt-15">
            <a href="/stocks/<%=stock.id%>/detail">
            <div class="card">
                <div class="card-body">
                    <div class="color-grey4 fw-500">
                        <%=stock.name %>
                        <div class="pull-right fs-23" style="<%=stockConditionInColor(stock.buy, stock.sell)%>">
                            <%=stock.buy %>
                        </div>
                    </div>
                    <div class="color-grey3 fs-14">
                        <%=stock.alias %>
                    </div>
                </div>
            </div>
            </a>
        </div>
        <% }) %>

    </div>
</div>
<%- include('./partials/footer') %>