<%- include('../partials/head', {title: 'User List'}) %>
<%- include('../partials/navbar') %>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"></script>

<div class="container text-center">
    <div class="row">
        <div class="col-md-12">
            <h2>User List</h2>
        </div>
        
        <% if(users.length>0) { %>
        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Balance</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <% users.forEach(user=>{ %>
                <tr>
                    <td>
                        <%=user.name %>
                    </td>
                    <td><%=user.email %></td>
                    <td><%=user.Account ? user.Account.balance : 0 %></td>
                    <td>
                        <a href="/users/edit/<%=user.id%>">Edit</a> | 
                        <a href="/users/delete/<%=user.id%>">Delete</a>
                    </td>
                </tr>
                <% })%>
            </tbody>
        </table>
        <% } else { %>
        <div>
            <h3>No User</h3>
        </div>
        <% } %>
    </div>
</div>
<%- include('../partials/footer') %>