<%- include('../partials/head', {title: 'My Profile'}) %>
<%- include('../partials/navbar') %>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="mt-15">
                <h2 style="display:inline-block;">Welcome, <%=user.name %></h2>
                <a href="/users/edit/<%=user.id%>" class="btn btn-link">Edit Profile</a>
            </div>
            <div>
                <h5 style="display:inline-block;" class="color-green mt-5">Balance: <%=numberToRupiah(user.Account.balance) %></h5>
                <a href="/users/<%=user.id%>/top-up" class="btn btn-link">Top Up Now</a>
            </div>
            <h6>Email: <%=user.email %></h6>
        </div>
        <% user.Stocks.forEach(stock => {%>
        <div class="col-md-12 mt-15">
            <a href="/stocks/<%=stock.id%>/detail">
            <div class="card">
                <div class="card-body">
                    <div class="color-grey4 fw-500 fs-23">
                        <%=stock.name %>
                    </div>
                    <div class="color-grey3 fs-14">
                        <%=stock.description %>
                    </div>
                    <div class="color-grey4 fs-14 mt-5">
                        Buy: <%=numberToRupiah(stock.buy) %>
                    </div>
                    <div class="color-grey4 fs-14">
                        Sell: <%=numberToRupiah(stock.sell) %>
                    </div>
                </div>
            </div>
            </a>
        </div>
        <% }) %>

    </div>
</div>
<%- include('../partials/footer') %>