<%- include('../partials/head', {title: 'User List'}) %>
<%- include('../partials/navbar') %>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"></script>

<div class="container text-center">
    <div class="row">
        <div class="col-md-12">
            <h2>My Stock</h2>
        </div>
        <div class="col-md-12">
            <a href="/users/<%= stockUsers.id %>/buy">Buy Stock</a>
        </div>
        <% if(stockUsers!=={}) { %>
        <table class="table">   
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Alias</th>
                    <th>Sell Price</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <% stockUsers.Stocks.forEach(stock =>{ %>
                <tr>
                    <td>
                        <%=stock.name %>
                    </td>
                    <td><%=stock.alias %></td>
                    <td><%=numberToRupiah(stock.sell)%></td>
                    <td>
                        <a href="/users/<%= stockUsers.id %>/sell/<%=stock.id%>">Sell</a>
                    </td>
                </tr>
                <% })%>
            </tbody>
        </table>
        <% } else { %>
        <div>
            <h3>No Stock</h3>
        </div>
        <% } %>
    </div>
</div>
<%- include('../partials/footer') %>